{% extends "base.html" %} {% block title %} DOCTOR {% endblock title %} {% block
body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% with messages=get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Book Appointment</h2>
          <form action="/doctor" method="post">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                name="email"
                value="{{current_user.email}}"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="dname"
                placeholder="Doctor Name"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="dept"
                placeholder="Doctor Department"
                required
              />
            </div>
            <button type="submit" class="btn btn-warning btn-block">
              Book
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
