{% extends "base.html" %} {% block title %} PATIENT BOOKING {% endblock title %}
{% block body %}
<div class="container mt-3">
  <div class="row">
    <div class="col-md-5">
      <div class="card" style="width: 18rem">
        <img src="static/images/doc.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">HOSPITAL DOCTORS</h5>
          <p class="card-text">Doctors Names</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Dr. Shinde</li>
          <li class="list-group-item">Dr. Mehta</li>
          <li class="list-group-item">Dr. Ghosh</li>
          <li class="list-group-item">Dr. Khan</li>
          <li class="list-group-item">Dr. Singh</li>
          <li class="list-group-item">Dr. Reddy</li>
          <li class="list-group-item">Dr. Yadav</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <h4 class="text-center bg-dark text-white">Book Your Slot</h4>
      <br />

      {% with messages=get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-13">
            <div class="card">
              <div class="card-body">
                <form action="/patient" method="post">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      value="{{current_user.email}}"
                      name="email"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Full Name"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select
                      class="form-control"
                      id="gender"
                      name="gender"
                      required
                    >
                      <option value="" disabled selected>Select Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="slot" class="form-label">Slot</label>
                    <select class="form-control" id="slot" name="slot" required>
                      <option value="" disabled selected>Select Slot</option>
                      <option value="morning">Morning</option>
                      <option value="evening">Evening</option>
                      <option value="night">Night</option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="time" class="form-label">Time</label>
                    <input
                      type="time"
                      class="form-control"
                      name="time"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input
                      type="date"
                      class="form-control"
                      name="date"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="disease" class="form-label">Disease</label>
                    <input
                      type="text"
                      class="form-control"
                      id="disease"
                      name="disease"
                      placeholder="Disease"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="dept" class="form-label"
                      >Doctor's Department</label
                    >
                    <select class="form-control" id="dept" name="dept" required>
                      <option value="" disabled selected>
                        Select Doctor's Department
                      </option>
                      {% for d in doct %}
                      <option value="{{d.dept}}">{{d.dept}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="number" class="form-label">Phone Number</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="number"
                      name="number"
                      placeholder="Phone Number"
                      required
                    />
                  </div>

                  <button type="submit" class="btn btn-success btn-block">
                    Book
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endblock body %}
    </div>
  </div>
</div>
